.flex-wrapper {
  max-width: 1200px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

p {
  max-width: 500px;
  padding: 0 10px;
}

.desc-main {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.75;
}

.desc-body {
  font-size: 1rem;
  color: #888;
  line-height: 1.75;
}
