.flex-wrapper {
  max-width: 1200px;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

p {
  padding: 0 10px;
}

.desc-main {
  font-size: 1.5rem;
  color: #888;
  font-weight: 400;
  line-height: 1.75;
  text-align: right;
  margin-left: auto;
  font-weight: bold;
  max-width: 900px;
}

.desc-body {
  font-size: 1rem;
  max-width: 500px;
  color: #888;
  line-height: 1.75;
}

.img {
  width: 300px;
}

.skills {
  padding-top: 80px;
  color: #888;
  display: flex;
  margin: 0 auto;
  max-width: 700px;
  justify-content: space-between;
}
