.flex-wrapper {
  max-width: 1200px;
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

p {
  padding: 0 10px;
}

.desc-body {
  font-size: 1rem;
  max-width: 500px;
  color: #888;
  line-height: 1.75;
}

.img {
  width: 300px;
}

@media (max-width: 900px) {
  .flex-wrapper {
    flex-direction: column-reverse;
  }
  .desc-body {
    padding-top: 40px;
  }

  .desc-body,
  .img {
    margin: 0 auto;
  }
}

.skills {
  padding-top: 80px;
  color: #888;
  display: flex;
  margin: 0 auto 50px auto;
  max-width: 700px;
  justify-content: space-between;
}
