.bottom-icon {
  color: #888;
  position: relative;
  margin-top: 80px;
  cursor: pointer;
  animation-name: slidein;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.page--wrapper {
  margin: 100px 100px 0 100px;
  height: 100vh;
}

.section--title {
  font-size: 5.5rem;
  font-weight: bold;
  line-height: 0.9;
  width: 450px;
  color: #888;
  font-weight: 900;
  margin-left: 10%;
}

.div__center {
  text-align: center;
}
