.title--desc {
  font-size: 2.2rem;
  padding-top: 25px;
  margin-bottom: 20px;
}

.white {
  color: #fff;
}

.underline {
  text-decoration: underline;
}

.title-small {
  line-height: 0.5;
}

.icon--wrapper {
  display: flex;
  max-width: 250px;
  justify-content: space-between;
}

.index--flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

@media (max-width: 850px) {
  .title--desc {
    font-size: 1.5rem;
  }
}

@media (max-width: 660px) {
  .title--desc {
    font-size: 1.3rem;
  }
}
