.projects-list {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 100px;
}

.project--flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.project {
  border-bottom: 1px solid #888;
}

h4 {
  color: #888;
  font-size: 2rem;
  padding-bottom: 20px;
  letter-spacing: 1.3px;
}

img {
  width: 400px;
  height: 467px;
  opacity: 0.8;
}

.project--desc {
  width: 500px;
  line-height: 1.8;
  color: #888;
}

.link {
  border: 1px solid #888;
  border-radius: 3px;
  padding: 20px;
  cursor: pointer;
  letter-spacing: 1.3px;
}

.link:hover {
  background: #888;
  color: #1c1c1c;
}

.buttons-flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.spacer {
  padding-top: 40px;
}
