.project--list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}

.project--wrapper {
  width: 400px;
  height: 600px;
  border: 1px solid #888;
  border-radius: 5px;
}

h3 {
  padding-bottom: 50px;
}

h4 {
  font-size: 1.6rem;
  color: #fff;
}

.project--desc {
  display: none;
}

.project--wrapper:hover h4 {
  display: none;
}

.project--wrapper:hover .project--desc {
  display: block;
}
